<!DOCTYPE html>
{% load thumbnail %}
<html dir="rtl" class="side-header-overlay-full-screen inner-page">
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<title>پنل کافه دار</title>

		<meta name="keywords" content="HTML5 Template">
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="../../static/img/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="../../static/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../static/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="../../static/vendor/animate/animate.min.css">
		<link rel="stylesheet" href="../../static/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="../../static/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="../../static/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="../../static/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="../../static/css/theme.css">
		<link rel="stylesheet" href="../../static/css/theme-elements.css">
		<link rel="stylesheet" href="../../static/css/theme-blog.css">
		<link rel="stylesheet" href="../../static/css/theme-shop.css">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="../../static/vendor/rs-plugin/css/settings.css">
		<link rel="stylesheet" href="../../static/vendor/rs-plugin/css/layers.css">
		<link rel="stylesheet" href="../../static/vendor/rs-plugin/css/navigation.css">
		
		<!-- Demo CSS -->
		<link rel="stylesheet" href="../../static/css/demos/demo-architecture-interior.css">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="../../static/css/skins/skin-architecture-interior.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="../../static/css/custom.css">

		<!-- Head Libs -->
		<script src="../../static/vendor/modernizr/modernizr.min.js"></script>

	</head>
	<body data-target="#header" data-spy="scroll" data-offset="100">

		<div class="body">
			<div class="sticky-wrapper bg-dark sticky-wrapper-transparent sticky-wrapper-effect-1 sticky-wrapper-effect-1-dark sticky-wrapper-border-bottom" data-plugin-sticky data-plugin-options="{'minWidth': 0, 'stickyStartEffectAt': 100, 'padding': {'top': 0}}">
				<div class="sticky-body">
					<div class="container container-xl">
						<div class="row justify-content-between align-items-center">
							<div class="col-auto">
								<div class="py-4">
                                    <a href="{% url 'business:create_cafe' %}" class="text-color-light font-weight-bold text-decoration-none d-none d-sm-block mr-2">کافه جدید <span class="font-weight-light ltr-text">&#10010;</span></a>
								</div>
							</div>
							<div class="col-auto text-right d-flex align-items-center justify-content-end">
{#								<a href="#" class="text-color-light font-weight-bold text-decoration-none d-none d-sm-block mr-2">کافه جدید <span class="font-weight-light ltr-text">(+98) 800 123 4567</span></a>#}
								<ul class="social-icons social-icons-clean social-icons-icon-light d-none d-md-inline-block mx-4">
									<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
									<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
									<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
								<button class="hamburguer-btn hamburguer-btn-light" data-set-active="false">
									<span class="hamburguer">
										<span></span>
										<span></span>
										<span></span>
									</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<header id="header" class="side-header-overlay-full-screen side-header-hide" data-plugin-options="{'stickyEnabled': false}">

				<button class="hamburguer-btn hamburguer-btn-light hamburguer-btn-side-header hamburguer-btn-side-header-overlay active" data-set-active="false">
					<span class="close">
						<span></span>
						<span></span>
					</span>
				</button>

				<div class="header-body d-flex h-100">
					<div class="header-column flex-row flex-lg-column justify-content-center h-100">
						<div class="header-container container d-flex h-100">
							<div class="header-row header-row-side-header flex-row h-100 pb-5">
								<div class="side-header-scrollable scrollable colored-slider h-50" data-plugin-scrollable>
									<div class="scrollable-content">
										<div class="header-nav header-nav-light-text header-nav-links header-nav-links-side-header header-nav-links-vertical header-nav-links-vertical-expand header-nav-click-to-open align-self-start">
											<div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-4 header-nav-main-sub-effect-1">
												<nav>
													<ul class="nav nav-pills" id="mainNav">
														<li class="dropdown">
															<a class="dropdown-item active" href="demo-architecture-interior.html#home">خانه</a>
														</li>
														<li class="dropdown">
															<a class="dropdown-item" href="demo-architecture-interior.html#whoweare">ما چه کسی هستیم</a>
														</li>
														<li class="dropdown">
															<a class="dropdown-item" href="demo-architecture-interior.html#ourservices">خدمات ما</a>
														</li>
														<li class="dropdown">
															<a class="dropdown-item" href="demo-architecture-interior.html#ourprojects">پروژه های ما</a>
														</li>
														<li class="dropdown">
															<a class="dropdown-item" href="demo-architecture-interior.html#whyhireus">چرا ما</a>
														</li>
														<li class="dropdown">
															<a class="dropdown-item" href="demo-architecture-interior.html#ourblog">بلاگ ما</a>
														</li>
														<li class="dropdown">
															<a class="dropdown-item" href="demo-architecture-interior.html#ourteam">تیم ما</a>
														</li>
														<li class="dropdown">
															<a class="dropdown-item" href="demo-architecture-interior.html#contactus">تماس با ما</a>
														</li>
													</ul>
												</nav>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<div role="main" class="main">
                {% for cafe in cafes %}
				<section class="page-header section section-height-3 bg-color-grey-scale-1 border-0 m-0">
					<div class="container container-xl my-n2">
						<div class="row align-items-center">
							<div class="col text-center">
								<div class="overflow-hidden">
                                    <br>
									<ul class="breadcrumb d-block text-center">
										<li><a href="demo-architecture-interior.html">خانه</a></li>
										<li class="active">پنل کافه دار</li>
									</ul>
								</div>

								<div class="overflow-hidden">
									<h2 class="text-color-dark font-weight-extra-bold text-9 text-sm-10 text-md-11 mt-1 mb-n1 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">کافه {{ cafe.name }}</h2>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-height-3 bg-light border-0 m-0">
					<div class="container container-xl">
						<div class="row">
							<div class="col text-center">
								<p class="text-4 mb-5">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط<br>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">

								<div class="row">
									<div class="col">

										<div class="lightbox mt-0" data-plugin-options="{'delegate': 'a.lightbox-portfolio', 'type': 'image', 'gallery': {'enabled': true}}">
											<div class="row portfolio-list">
												<div class="col-lg-12 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">
													<div class="portfolio-item">
														<span class="thumb-info thumb-info-centered-icons thumb-info-no-borders">
															<span class="thumb-info-wrapper">

                                                                {% for img in cafe.images.all %}
                                                                    {% if img.image_file %}
																<img src="{{ img.image_file.url }}" class="img-fluid" style="width: 360px; height: 360px" alt="{{ cafe.name }}">
{#                                                                <img src="{% thumbnail img.image_file 10x10 %}" class="img-fluid" alt="{{ cafe.name }}">#}

{#																<a href="img/demos/architecture-interior/projects/project-1.jpg" class="lightbox-portfolio">#}
                                                                    {% endif %}
                                                                {% endfor %}
																	<span class="thumb-info-action">
																		<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
																	</span>
																</a>
															</span>
														</span>
													</div>
												</div>
{#												<div class="col-lg-12 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">#}
{#													<div class="portfolio-item">#}
{#														<span class="thumb-info thumb-info-centered-icons thumb-info-no-borders">#}
{#															<span class="thumb-info-wrapper">#}
{#																<img src="img/demos/architecture-interior/projects/project-2.jpg" class="img-fluid" alt="">#}
{#																<a href="img/demos/architecture-interior/projects/project-2.jpg" class="lightbox-portfolio">#}
{#																	<span class="thumb-info-action">#}
{#																		<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>#}
{#																	</span>#}
{#																</a>#}
{#															</span>#}
{#														</span>#}
{#													</div>#}
{#												</div>#}
											</div>
										</div>

									</div>
								</div>

							</div>
							<div class="col-lg-6 mt-4 mt-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">

								<aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 130}}">

									<div class="row">
										<div class="col">

											<h2 class="font-weight-bold mb-2 text-5">توضیحات</h2>

											<p class="pb-2">{{ cafe.description }}</p>

											<hr class="solid my-4">

											<h2 class="font-weight-bold mb-3 text-5">جزئیات کافه</h2>
											<ul class="list list-icons list-primary list-borders text-2">
{#												<li><i class="fas fa-caret-left left-10"></i> <strong class="text-color-primary">مشتری:</strong> مایکروسافت</li>#}
												<li><i class="fas fa-caret-left left-10"></i> <strong class="text-color-primary"> تاریخ ایجاد: </strong>{{ cafe.create }}</li>
{#												<li><i class="fas fa-caret-left left-10"></i> <strong class="text-color-primary">مهارت ها:</strong> <a href="#" class="badge badge-dark badge-sm badge-pill px-2 py-1 ml-1">طراحی</a><a href="#" class="badge badge-dark badge-sm badge-pill px-2 py-1 ml-1">برند</a><a href="#" class="badge badge-dark badge-sm badge-pill px-2 py-1 ml-1">وب‌سایت ها</a></li>#}
												<li><i class="fas fa-caret-left left-10"></i> <strong class="text-color-primary">آدرس کافه:</strong> <a href="#" target="_blank" class="text-dark">{{ cafe.address }}</a></li>
												<li><i class="fas fa-caret-left left-10"></i> <strong class="text-color-primary">ویرایش</strong> <a href="{% url 'business:edit_cafe' cafe.id %}" style="color: #0c5460; display: inline-block; transform: rotateZ(90deg);">&#x270E</a></li>
                                                <li><i class="fas fa-caret-left left-10"></i> <strong class="text-color-primary">ویرایش منو</strong> <a href="{% url 'business:edit_menu' cafe.id %}" style="color: #0c5460; display: inline-block; transform: rotateZ(90deg);">&#x270E</a></li>

											</ul>
										</div>
									</div>

								</aside>

							</div>

						</div>

					</div>
				</section>

			</div>
            {% endfor %}

			<footer id="footer" class="bg-quaternary border-width-1 custom-border-color-grey py-5 mt-0">
				<div class="container container-xl">
					<div class="row justify-content-between">
						<div class="col-auto">
							<ul class="social-icons social-icons-clean social-icons-icon-light">
								<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
								<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
								<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
						<div class="col-auto text-right">
							<p class="text-color-light font-weight-light opacity-8 mb-0">ارائه شده در وب‌سایت راست‌چین</p>
						</div>
					</div>
				</div>
			</footer>

		</div>

		<!-- Vendor -->
		<script src="../../static/vendor/jquery/jquery.min.js"></script>
		<script src="../../static/vendor/jquery.appear/jquery.appear.min.js"></script>
		<script src="../../static/vendor/jquery.easing/jquery.easing.min.js"></script>
		<script src="../../static/vendor/jquery.cookie/jquery.cookie.min.js"></script>
		<script src="../../static/vendor/popper/umd/popper.min.js"></script>
		<script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../static/vendor/common/common.min.js"></script>
		<script src="../../static/vendor/jquery.validation/jquery.validate.min.js"></script>
		<script src="../../static/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
		<script src="../../static/vendor/jquery.gmap/jquery.gmap.min.js"></script>
		<script src="../../static/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
		<script src="../../static/vendor/isotope/jquery.isotope.min.js"></script>
		<script src="../../static/vendor/owl.carousel/owl.carousel.min.js"></script>
		<script src="../../static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="../../static/vendor/vide/jquery.vide.min.js"></script>
		<script src="../../static/vendor/vivus/vivus.min.js"></script>
		<script src="../../static/vendor/nanoscroller/jquery.nanoscroller.min.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="../../static/js/theme.js"></script>
		
		<!-- Current Page Vendor and Views -->
		<script src="../../static/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script src="../../static/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

		<!-- Current Page Vendor and Views -->
		<script src="../../static/js/views/view.contact.js"></script>
		
		<!-- Demo -->
		<script src="../../static/js/demos/demo-architecture-interior.js"></script>

		<!-- Theme Custom -->
		<script src="../../static/js/custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="../../static/js/theme.init.js"></script>


		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
			ga('create', 'UA-12345678-1', 'auto');
			ga('send', 'pageview');
		</script>
		 -->


	</body>
</html>