{% extends 'parent/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
    <h1>تغییر پسورد</h1>
    <p>رمز قبلی و رمز جدید را وارد کنید</p>
    <form method="post">
            {% csrf_token %}
        {{ form.as_p }}
{#    <div class="form-group">#}
{#        <label for="old_password">رمز قبلی</label>#}
{#        <input type="password" class="form-control" id="old_password" name="old_password">#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="new_password">رمز جدید</label>#}
{#        <input type="password" class="form-control" id="new_password" name="new_password">#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="confirm_password">تایید رمز جدید</label>#}
{#        <input type="password" class="form-control" id="confirm_password" name="confirm_password">#}
{#    </div>#}
    <button type="submit" class="btn btn-primary">تغییر رمز</button>
    </form>


{% endblock %}