{% extends 'parent/base.html' %}
{% block title %}List of cities{% endblock %}
{% block content %}
    {% csrf_token %}
{#    <h1>کافه های شهر {{ cafes.first.city }}</h1>#}
    {% if cafes.first.city == 'SH' %}
        <h1>کافه های شهر شیراز </h1>
    {% elif cafes.first.city == 'NY' %}
        <h1>کافه های شهر نیویورک </h1>
    {% elif cafes.first.city == 'MN' %}
        <h1>کافه های شهر منچستر </h1>
    {% endif %}
    {% for cafe in cafes %}
        <li>
            <a href="{% url 'business:cafe_detail' cafe.id %}">{{ cafe.name }}</a>
        </li>
    {% endfor %}
    <a class="home" href="{% url 'business:city_cafes' %}"> <<< بازگشت به صفحه قبل</a>
{% endblock %}
